<div class="mt-4">
    <form method = "POST">
        <div class="form-group">
            <label for="search-input">Nhap tu khoa</label>
            <input type="text" name = "q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
        </div>  

        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>